.footer {
    background-color: black;
    color: #fff;
    bottom: 0;
    padding: 20px;
    text-align: center;
    // position: relative;
    bottom: 0;
    border: 2px solid rgba(192, 19, 140, 0.3);
  
  }
  
  .social-icons {
    margin-bottom: 15px;
  }
  
  .social-icons a {
    margin: 0 10px;
  }
  
  .social-icons img {
    width: 30px;
    height: 30px;
  }
  
  p {
    margin: 0;
  }